
@font-face{
  font-family: 'Raleway Thin';
  src:url("../Fonts/Raleway_Thin.otf");
}


body {
  color:black;
  background-color:black;
  text-align:center;
  position:relative;
  right:150px;
  top:50px;
  font-family: 'Raleway Thin', Arial, Helvetica, sans-serif;
  background-image:url('../Images/practice3.JPG');
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:right bottom;
  background-size:cover;
}
	
  nav h4{
	  padding-left:10px;
	  padding-right:10px;
	  display:inline;
  }
  
  nav a:link{
	color:black; 
	text-decoration:none;
  }
  
  nav a:visited{
	  color:grey;
  }
  
  nav a:hover{
	  color:grey;
	  text-decoration:underline;
  }
  
  h1{
	font-size:600%;
}
  
  .contact h3{
	  display:inline;
	  padding-left:20px;
	  padding-right:20px;
  }
  
  .contact a:link{
	color:black; 
	text-decoration:none;
  }
  
  .contact a:hover{
	  color:white;
  }
  
  .contact a:visited{
	  color:black;
  }
  
  .footer h5{
	  display:inline;
	  padding-left:20px;
	  padding-right:20px;
  }
  
  .footer a:link{
	  color:black;
	  text-decoration:none;
  }
  
  .footer a:visited{
	  color:grey;
  }
