@font-face {
    font-family: 'Raleway Thin';
    src: url("../Fonts/Raleway_Thin.otf");
}
@import "compass/css3";

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fadein{
    opacity: 0;
  
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
    
}

.background-image {
  background: url('../Images/girlWithUmbrella_edit_cropped.png') no-repeat right bottom fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

.fadein.visible {
  opacity: 1;
}

body {
    color: black;
    background-color: white;
    overflow: hidden;
    /*text style*/
    text-align: center;
    position: relative;
    top: 10rem;
    right: 50px;
    /*font style*/
    font-family: 'Raleway Thin', Arial, Helvetica, sans-serif;
   
}

nav {
    position: fixed;
    top: 0;
    right: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-flex;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: 900;
}

nav a:link {
    color: black;
    text-decoration: none;
    position: relative;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: #F32631;
    top: 1px;
}

nav a:active {
    top: 2px;
}

.name h1 {
    position:relative;
    font-size: 7rem;
    padding-bottom: 2rem;
}

.description {
    padding-bottom: 20px;
    position: relative;
    bottom: 40px;
}

#fadingDescription {
    font-size: 2.5rem;
    font-color: darkgray;
}

footer {
    position: fixed;
    right:0;
    bottom: 0;
    
}

footer ul li {
    padding-left: 3px;
    padding-right: 10px;
    list-style-type: none;
    display: inline-flex;
}

footer a:link {
    color: black;
    text-decoration: none;
    position: relative;
}

footer a:visited {
    color: black;
}

footer a:hover {
    color: #F32631;
    text-decoration: none;
}

footer a:active {
    top: 1px;
}

footer a:visited:hover {
    color: #F32631;
}


/*"About Me" CSS*/

#About {
    position: relative;
    width: 800px;
    padding-left: 100px;
    bottom: 200px;
    overflow: hidden;
    background-image: url('../Images/practice3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

#About h1 {
    position: relative;
    right: 100px;
    bottom: 85px;
}

#About p {
    position: relative;
    right: 100px;
    bottom: 180px;
    font-size: 150%;
    padding: 100px;
}

.red {
    color: #F32631;
}
